<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-cn' xml:lang="zh-cn">
<head>
   <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
   <title>经理主界面</title>
   <link type="text/css" rel="stylesheet" href="/static/manager.css">
   <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
</head>
<body>
<div class = "div1">
</div>
<div class="div">
	<div class="pure-menu pure-menu-open pure-menu-horizontal" align = "center">
        <a class="pure-menu-heading">超市系统</a>
        <ul>
			<li><a href="/accounts/manager_main">主页面</a></li>
			<li><a href="/accounts/show">商品列表</a></li>
            <li><a href="/accounts/Sales">业绩查询</a></li>
			<li><a href="/admin">后台管理</a></li>
			<li><a href="/accounts/logout">退出</a></li>
        </ul>
	</div>
</div>
</br>
<hr/>
<table id="table2" align="center" >
	<tr>
		<td height="239">
    	<div id="welcome"><h2>{{full_name}}，您好！欢迎使用本系统</h2></div>
		</td>
	</tr>
</table>
<div class = "div_bottom">
<h6 align = "center">version 1.0</h6>
</div>
</body>
</html>
